.rick-morty {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
}

.character>p::first-line {
    color: orange;
}
.character>p {
    margin: 0;
}
.character {
    width: 300px;
}