.Car {
    border: 5px solid;
    border-radius: 25px;
    width: 120px;
    padding: 20px;

}

.Cars {
    display: flex;
    flex-wrap: wrap;
    gap:20px 20px
}

.CarDetails,.ButtonContainer {
    display: flex;
    justify-content: space-between;
}

.Button {
    width: 40%;
    padding: 0px;
    height: 25px;
    font-size: 12px;
    border-radius: 25px;
    background-color: white;
    margin-top: 20px;
}

.Button:hover {
    background-color: black;
    color: white;
}
.Form {
    margin-bottom: 20px;
}