.Cars {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.Form {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 120px;
    row-gap: 2px;
}

.Car {
    border: 5px solid black;
    border-radius: 20px;
    padding: 20px;
}

.CarDetails,.ButtonContainer{
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.ButtonContainer>input {
    width: 40%;
    padding: 0;
}
.ButtonContainer>button {
    width: 40%;
    padding: 0;
}